Repository SonarSource/helm-chart-sonarqube: changes, and which pre-commit hooks are due for each by the changed paths.
All: cirrus-test, run-generate-helm-fixture-on-charts

.pre-commit-config.yaml:

---
exclude: '^gradlew*|^gradle/'
repos:
  - repo: local
    hooks:
      - id: cirrus-test
        name: Cirrus Test
        entry: >-
          sh -c "
          if ! cirrus internal test -e CIRRUS_REPO_CLONE_TOKEN=$(gh auth token); then
            echo \"Fixing $@\";
            cirrus internal test -e CIRRUS_REPO_CLONE_TOKEN=$(gh auth token) --update >/dev/null;
            false;
          fi"
        language: system
        files: "(.star|.cirrus/)"
      - id: run-generate-helm-fixture-on-charts
        name: Run helm fixture on charts
        entry: .cirrus/generate_helm_fixtures.sh
        language: system
        files: ".cirrus/generate_helm_fixtures.sh"

SONAR-22529 prepare 10.6.1 bugfix release
  charts/sonarqube/CHANGELOG.md
  charts/sonarqube/Chart.yaml
  charts/sonarqube/templates/_pod.tpl
  tests/unit-compatibility-test/sonarqube/template-refactoring-values.yaml
Due: none

SONAR-22530 add cirrus task to run simple fixture
  .cirrus/tasks.yml
  tests/unit-compatibility-test/README.md
Due: cirrus-test

SONAR-22528 Fixes env valuesFrom regression
  charts/sonarqube/templates/_pod.tpl
Due: none

Updates changelogs
  charts/sonarqube/CHANGELOG.md
  charts/sonarqube/Chart.yaml
Due: none

SONAR-22530 rephrase debug logs
  .cirrus/generate_helm_fixtures.sh
Due: cirrus-test, run-generate-helm-fixture-on-charts

SONAR-22528 Helm env valuesFrom regression
  charts/sonarqube/CHANGELOG.md
  charts/sonarqube/Chart.yaml
  charts/sonarqube/templates/_pod.tpl
Due: none

SONAR-22530 implement simple fixtures
  .cirrus/generate_helm_fixtures.sh
  .cirrus/tasks.yml
  .pre-commit-config.yaml
  tests/unit-compatibility-test/README.md
  tests/unit-compatibility-test/fixtures/sonarqube-dce/application-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/change-admin-password-hook-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/config-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/default-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/duplicated-env-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/hpa-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/ingress-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/install-plugins-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/jdbc-config-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/networkpolicy-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/node-topology-per-process-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/node-topology-values.yml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/pvc-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/restricted-openshift.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/secret-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/service-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/serviceaccount-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/sonar-web-context-deprecated-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/sonar-web-context-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/change-admin-password-hook-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/config-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/default-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/deployment-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/duplicated-env-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/ingress-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/install-plugins-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/jdbc-config-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/networkpolicy-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/pvc-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/secret-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/service-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/serviceaccount-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/sonar-web-context-deployment-deprecated-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/sonar-web-context-sts-deprecated-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/sonar-web-context-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/template-refactoring-values.yaml
Due: cirrus-test, run-generate-helm-fixture-on-charts

SONAR-22526 rebase changelog message to correct version
  charts/sonarqube/CHANGELOG.md
  charts/sonarqube/Chart.yaml
Due: none

SONAR-22526 update fixtures
  tests/unit-compatibility-test/fixtures/sonarqube/change-admin-password-hook-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/config-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/default-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/deployment-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/duplicated-env-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/ingress-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/install-plugins-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/jdbc-config-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/networkpolicy-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/pvc-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/secret-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/service-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/serviceaccount-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/sonar-web-context-deployment-deprecated-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/sonar-web-context-sts-deprecated-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/sonar-web-context-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/template-refactoring-values.yaml
Due: none

SONAR-22528 Helm env valuesFrom regression
  charts/sonarqube/CHANGELOG.md
  charts/sonarqube/Chart.yaml
  charts/sonarqube/templates/_pod.tpl
  tests/unit-compatibility-test/fixtures/sonarqube/change-admin-password-hook-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/config-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/default-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/deployment-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/duplicated-env-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/ingress-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/install-plugins-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/jdbc-config-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/networkpolicy-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/pvc-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/secret-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/service-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/serviceaccount-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/sonar-web-context-deployment-deprecated-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/sonar-web-context-sts-deprecated-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/sonar-web-context-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/template-refactoring-values.yaml
Due: none

NO-JIRA fix fixtures pre commit behavior trigger
  .pre-commit-config.yaml
Due: none

NO-JIRA temporary fix for releaseability package.sh
  .cirrus/package.sh
Due: cirrus-test

SGB-94 Fix a wrong parameter used in the mpdev verify
  .cirrus/tasks.yml
Due: cirrus-test

SONAR-22545 Fix inconsistency-related issues
  charts/sonarqube-dce/templates/change-admin-password-hook.yml
  charts/sonarqube-dce/templates/ingress.yaml
  charts/sonarqube-dce/templates/prometheus-podmonitor.yaml
  charts/sonarqube-dce/templates/secret.yaml
  charts/sonarqube-dce/templates/service.yaml
  charts/sonarqube-dce/templates/sonarqube-application.yaml
  charts/sonarqube/templates/deployment.yaml
  charts/sonarqube/templates/ingress.yaml
  charts/sonarqube/templates/secret.yaml
  charts/sonarqube/templates/service.yaml
Due: none

SQDEVOPS-527 Set up slack notification of failures
  .github/workflows/slack_notify.yml
Due: none

Update helm chart repo path in sources for each Chart
  charts/sonarqube-dce/CHANGELOG.md
  charts/sonarqube-dce/Chart.yaml
  charts/sonarqube/CHANGELOG.md
  charts/sonarqube/Chart.yaml
Due: none

SONAR-22588 Implements OpenShift validator
  .cirrus/tasks.yml
  .cirrus/verify_openshift.sh
Due: cirrus-test

SONAR-22681 Standard chart Openshift support
  .cirrus/tasks.yml
  charts/sonarqube/CHANGELOG.md
  charts/sonarqube/Chart.yaml
  charts/sonarqube/README.md
  charts/sonarqube/templates/_pod.tpl
  charts/sonarqube/values.yaml
  test.yaml
Due: cirrus-test

NO-JIRA make automountServiceAccountToken in _pod.tpl configurable
  charts/sonarqube/templates/_pod.tpl
  charts/sonarqube/values.yaml
Due: none

NOJIRA update Chart.yaml
  charts/sonarqube/Chart.yaml
Due: none

NOJIRA update Chart.yaml and CHANGELOG.md
  charts/sonarqube/CHANGELOG.md
  charts/sonarqube/Chart.yaml
Due: none

SONAR-22682 DCE chart Openshift support
  .cirrus/tasks.yml
  charts/sonarqube-dce/CHANGELOG.md
  charts/sonarqube-dce/Chart.yaml
  charts/sonarqube-dce/README.md
  charts/sonarqube-dce/ci/cirrus-values.yaml
  charts/sonarqube-dce/templates/sonarqube-search.yaml
  charts/sonarqube-dce/values.yaml
  charts/sonarqube/README.md
  charts/sonarqube/ci/cirrus-values.yaml
  charts/sonarqube/values.yaml
Due: cirrus-test

NO-JIRA Update Fixtures
  .cirrus/tasks.yml
  charts/sonarqube-dce/ci/cirrus-values.yaml
  charts/sonarqube-dce/templates/sonarqube-search.yaml
Due: cirrus-test

Address reviewer comment on securityContext in fixtures
  charts/sonarqube-dce/templates/sonarqube-application.yaml
  charts/sonarqube-dce/templates/sonarqube-search.yaml
  charts/sonarqube/templates/_pod.tpl
Due: none

Readme Formatting
  charts/sonarqube-dce/README.md
  charts/sonarqube/README.md
  charts/sonarqube/values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/application-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/change-admin-password-hook-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/config-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/default-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/duplicated-env-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/hpa-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/ingress-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/install-plugins-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/jdbc-config-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/networkpolicy-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/node-topology-per-process-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/node-topology-values.yml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/pvc-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/restricted-openshift.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/secret-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/service-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/serviceaccount-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/sonar-web-context-deprecated-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/sonar-web-context-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/change-admin-password-hook-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/config-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/default-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/deployment-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/duplicated-env-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/ingress-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/install-plugins-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/jdbc-config-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/networkpolicy-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/pvc-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/secret-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/service-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/serviceaccount-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/sonar-web-context-deployment-deprecated-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/sonar-web-context-sts-deprecated-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/sonar-web-context-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/template-refactoring-values.yaml
Due: none

disable all readOnly modes
  charts/sonarqube/values.yaml
Due: none

comment out the whole security context as cannot be partially defined
  charts/sonarqube-dce/values.yaml
  charts/sonarqube/values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/application-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/change-admin-password-hook-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/config-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/default-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/duplicated-env-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/hpa-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/ingress-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/install-plugins-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/jdbc-config-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/networkpolicy-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/node-topology-per-process-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/node-topology-values.yml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/pvc-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/restricted-openshift.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/secret-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/service-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/serviceaccount-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/sonar-web-context-deprecated-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube-dce/sonar-web-context-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/change-admin-password-hook-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/config-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/default-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/deployment-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/duplicated-env-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/ingress-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/install-plugins-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/jdbc-config-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/networkpolicy-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/pvc-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/secret-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/service-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/serviceaccount-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/sonar-web-context-deployment-deprecated-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/sonar-web-context-sts-deprecated-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/sonar-web-context-values.yaml
  tests/unit-compatibility-test/fixtures/sonarqube/template-refactoring-values.yaml
Due: none

SONAR-22589 Support OpenShift Route
  charts/sonarqube-dce/CHANGELOG.md
  charts/sonarqube-dce/Chart.yaml
  charts/sonarqube-dce/README.md
  charts/sonarqube-dce/templates/_helpers.tpl
  charts/sonarqube-dce/templates/route.yaml
  charts/sonarqube-dce/values.yaml
  charts/sonarqube/CHANGELOG.md
  charts/sonarqube/Chart.yaml
  charts/sonarqube/README.md
  charts/sonarqube/values.yaml
Due: none

SONAR-22583 OpenShift installation section in README
  charts/sonarqube-dce/README.md
  charts/sonarqube/README.md
Due: none
